.link-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;

    /*background-color: var(--color-tertiary);*/
    color: var(--color-secondary);
    text-align: right;
    margin: 0;
    padding: 4px 32px;
    font-weight: 400;
    bottom: 0;
    width: 95%;
    border-radius: 64px;

}
