.main-navigation {
    background: var(--color-primary);
    padding: 16px 0;
    text-align: center;
}

.inner-nav-container {
    flex-basis: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;

    flex-shrink: 1;
    flex-grow: 0;
    /*We voegen margin toe aan de linker- en rechterkant, zodat de content nooit helemaal tegen de rand gedrukt kan worden*/
    margin: 0 20px;
    /*We zorgen er ook voor dat deze flex-item op haar beurt ook weer een flexbox container is, waarin alle children onder elkaar komen te staan*/

}

.nav-logo {
    font-size: 1.6em;
}



.main-navigation a,
.main-navigation a:visited {
    color: var(--color-black);
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1.2em;
}

.main-navigation a:hover {
    color: var(--color-highlight);
}


.main-navigation-links {
    list-style: none;
    flex-basis: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
}
