
.sticky-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;

    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    text-align: center;
    padding: 32px;
    font-weight: 400;
    position: sticky;
    bottom: 0;
    width: 100%;

}

.copyright {

    font-size: 0.8em;


}