
.sticky-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;

    background-color: var(--color-tertiary);
    text-align: center;
    margin: 30px;
    padding: 16px 64px;
    font-weight: 400;
    bottom: 0;
    width: 95%;
    border-radius: 64px;

}

.footer-copyright {
    font-size: 0.8em;
}

.footer-quote {
    font-size: 0.8em;
}