/*In dit bestand plaats je alle algemene styling die geldt voor de gehele applicatie*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


:root {
  --color-primary: #B8C2C8;
  --color-secondary: #201e1f;
  --color-tertiary: #ECF3DB;
  --color-highlight: #FF3A20;
  --color-white: #FCFCF5;
  --color-relative: #FFB833;
  --color-black: #201e1f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-black);
  background-color: var(--color-primary);
}


h1 {
  font-size: 3.4em;
  line-height: 1.1;
  margin-block: 1em;
}

.page-title {
  text-align: center;
}

h2 {
  margin-block: 2.3em;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2;
  margin-bottom: 0.8em;
}

h4 {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  line-height: 0.6px;
  margin-block: 1.33em;
}

h5 {
  margin-block: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
}

p {
  font-size: 1.0em;
  margin-block: 0.5em;
}


a {
  font-weight: 500;
  color: var(--color-black);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-highlight);
}


img {
  width: 100%;
}

figure {
  margin: 0 0 2em 0;
}

figcaption {
  text-align: right;
  font-size: 0.9em;
}






@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--color-highlight);
  }
  button {
    background-color: #f9f9f9;
  }
}
