.portrait-container {
    flex-basis: 240px;
    flex-shrink: 1;
    flex-grow: 0;
    background-color: var(--color-tertiary);
    align-items: center;
    margin: 0;
    padding: 0;
    border-radius: 30px;
}

    canvas {
        width: 240px;
        height: 240px;
    }

    .portrait-name {
        text-align: center;
    }

.portrait-relation {
    font-weight: 300;
}
