form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    padding: 32px;
    max-width: 480px;
    border-radius: 30px;
    margin: 16px 0;
}

form label {
    margin: 4px 0;
    font-family: inherit;
    font-weight: 500;
}

input {
    z-index: 10;
    width: 420px;
    padding: 16px 32px;
    margin: 4px 0 12px 0;
    border-radius: 50px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white);
}

select {
    z-index: 0;
    border-right: 32px solid transparent;
}

select {
    z-index: 10;
    width: 420px;
    padding: 16px 32px;
    margin: 4px 0 12px 0;
    border-radius: 50px;
    border: 1px solid var(--color-black);
    background-color:  var(--color-white);
}




textarea {
    width: 420px;
    padding: 16px 32px;
    margin: 4px 0 12px 0;
    border-radius: 24px;
    border: 1px solid var(--color-black);
    background-color:  var(--color-white);

}

textarea:focus,
select:focus,
input:focus {
    outline: 0 solid var(--color-black);
}
