form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-tertiary);
    padding: 32px 0;
    max-width: 450px;
    border-radius: 4px;
    margin: 30px 0;
}

form label {
    margin: 4px 0;
    font-family: inherit;
    font-weight: 500;
}

input {
    width: 450px;
    padding: 16px 32px;
    margin: 4px 0 12px 0;
    border-radius: 50px;
    border: 1px solid var(--color-black);
    background-color: white;
}

input:focus {
    outline: 0 solid var(--color-black);
}
